<div class="jumbotron">
  <h2>Welcome!</h2>
  <input type="button" id="connect-button" value="CONNECT" />
  <div id="user-id">User ID</div>
  <div id="hps"></div>
  <input type="button" id="attack-button" value="ATTACK" />
</div>
