<div class="jumbotron">
  <h2>Welcome!</h2>
  <input type="button" id="connect-button" value="CONNECT" />
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>
